/**
* Grid styling for desktop systems
**/
.siteContainer {
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: auto;
    height: 100%;
    position: relative;
}

.formContainer  {
    grid-column: 5/9;
    grid-row: 2;
}

.title {
    grid-column: span 12;
    grid-row: 1;
}

.mainText {
    grid-column: 4/10;
    grid-row: 2;
    text-align: center;
}

#btn {
    grid-column: 5/9;
    grid-row: 3;
    margin-bottom: 25px;
}

.nav {
    grid-column: span 12;
    grid-row: 2;
}

.pageTitle {
    grid-column: span 12;
    grid-row: 3;
    text-align: center;
}

#contentContainer {
    grid-column: span 12;
    grid-row: 4/5;
}

#module-info {
    grid-column: span 12;
    grid-row: 4;
}

.button {
    grid-column: 6/8;
    grid-row: 6;
}

.footer {
    grid-column: span 12;
    grid-row: 7;
}


/**
* Grid for mobile Devices
**/

@media only screen and (max-width: 600px) {
    
    .siteContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, 1fr);
    }

    .siteNav {
        grid-column: 1;
        grid-row: 1;
    }

    .title {
        grid-column: 1;
        grid-row: 2;
    }

    #contentContainer {
        grid-column: 1;
        grid-row: 3/4;
    }

    .formContainer {
        grid-column: 1;
        grid-row: 3;
    }

    .mainText {
        grid-column: 1;
        grid-row: 3;
    }

    #btn {
        grid-column: 1;
        grid-row: 4;
    }

    .button {
        grid-column: 1;
        grid-row: 5;
    }

    .footer {
        grid-column: 1;
        grid-row: 7;
    }

    #module-info {
        grid-column: 1;
        grid-row: 5;
    }

  }