/**
* Generic Page Styling
**/

html body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}

p, h1, h2, h3, h4, h5, h6, a, input, label, button {
    font-family: 'Roboto', sans-serif;
}

/**
* Title Styling
**/

.title {
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}

/**
* Navigation Styling
**/

.siteNav {
    background-color: rgb(201, 201, 201, 0.7);
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px #bebebe;
}

.siteNav ul {
    margin: 0;
    text-align: center;
}

.siteNav li {
    display: inline;
    padding-right: 25px;
    height: 100%;
}

.siteNav a {
    text-decoration: none;
    line-height: 100px;
    padding: 15px;
    color: black;
    height: 100%;
    font-size: 17px;
    align-self: center;
}

.siteNav a:hover {
    color: white;
    background-color: rgb(79, 155, 255);
    border-radius: 30px;
}

.siteNav .current {
    background-color: rgb(248, 21, 21);
    color: #ffffff;
    border-radius: 30px;
    border: 3px solid black
}

/**
*  Content area Styling
**/

#contentContainer {
    text-align: center;
    width: auto;
}

#content {
    height: auto;
    width: 500px;
    background-color: rgb(201, 201, 201, 0.6);
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    border: 2px solid black;
    border-radius: 25px;
}


/**
* Button Styling
**/ 

.button {
    width: 100%;
    max-width: 100%;
    margin: 20px 0px 120px 0px;
    border-radius: 20px;
    background-color: rgb(248, 21, 21);
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 0px;
    text-align: center;
    border: 2px solid black;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

#btn {
    margin-bottom: 30px;
    height: 50px;
}

/**
* Content Styling
**/

.content {
    margin-top: 100px;
    text-align: center;
}

/**
* Form Styling
**/

.formContainer {
    margin: 50px 0;
}

.formContainer input {
    margin: 10px 0px;
    border: none;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.formContainer select {
    margin: 10px 0px;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
    border: 2px solid black;
    
}

.formContainer input:focus, select:focus {
    border: 2px solid rgb(79, 155, 255);
    border-radius: 10px;
}

.formContainer button {
    margin: 10px 25%;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(248, 21, 21);
    color: white;
    cursor: pointer;
}

/**
* Footer Styling 
**/

.footer {
    width: 100%;
    height: 75px;
    background-color: rgb(79, 155, 255);
    text-align: center;
    position: absolute;
    border-top: 2px solid black;
    bottom: 0;
}

.footer p {
    line-height: 50px;
}

/**
* Styling for mobile views
**/

@media only screen and (max-width: 600px) {

    .title {
        font-size: 30px;
    }

    /**
    * Nav Styling
    **/

    .siteNav {
        background-color: rgb(201, 201, 201, 0.7);
        height: 400px;
        width: 100%;
        box-shadow: 0px 4px #bebebe;
    }
    
    .siteNav ul {
        margin: 0;
        text-align: center;
    }
    
    .siteNav li {
        display: block;
        padding-right: 25px;
        height: 75px
    }
    
    .siteNav a {
        text-decoration: none;
        line-height: 100px;
        padding: 15px;
        color: black;
        height: 100%;
        font-size: 17px;
        align-self: center;
    }

    /**
    * Content Styling
    **/

    #contentContainer {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    
    #content {
        height: auto;
        width: 300px;
        background-color: rgb(201, 201, 201, 0.6);
        padding: 10px;
        text-align: left;
        border: 2px solid black;
        border-radius: 25px;
    }

    /**
    *   Button Styling
    **/

    .button {
        width: 75%;
        justify-self: center;
    }

    #btn {
        width: 75%;
        justify-self: center;
    }

    #module-info {
        width: 75%;
        justify-self: center;
        margin-bottom: 100px ;
    }

    /**
    * Form Styling
    **/

    .formContainer {
        width: 100%;
        margin-bottom: 50px;
    }

    .formContainer button {
        margin-bottom: 50px;
    }
}